DEEPSEEK_API_KEY=your_deepseek_api_key_here
DEEPSEEK_BASE_URL=https://api.deepseek.com
DEEPSEEK_MODEL=deepseek-v4-pro
DEEPSEEK_USE_PROXY=false
QDRANT_API_KEY=your_qdrant_api_key_here
QDRANT_API_URL=https://your-cluster-url.cloud.qdrant.io
GAODE_API_KEY=your_gaode_web_service_key_here
GAODE_WEATHER_URL=https://restapi.amap.com/v3/weather/weatherInfo
GAODE_GEOCODE_URL=https://restapi.amap.com/v3/geocode/geo
GAODE_REGEOCODE_URL=https://restapi.amap.com/v3/geocode/regeo
GAODE_DISTRICT_URL=https://restapi.amap.com/v3/config/district
GAODE_STATIC_MAP_URL=https://restapi.amap.com/v3/staticmap
GAODE_AROUND_URL=https://restapi.amap.com/v5/place/around

MEMORY_LLM_API_KEY=your_qanwen_api_key_here
MEMORY_LLM_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
MEMORY_LLM_MODEL=qwen3-vl-235b-a22b-thinking
